.alinear_texto {
    text-align: center;
}

.box {
    align-content: center;
    width: 30%;
    height: 120;
    background-color: rgb(206, 127, 54);
    border: 2px solid black;
    padding: 1%;
    color: white;
}
.boton {
    width: 60%;
    font-size: larger;
    border: none;
    border-radius: 6px;
    padding: 2%;
    background-color: rgb(12, 71, 103);
    color: burlywood;
    cursor: pointer;
}

.imagen {
    justify-content: center; 
    width: 15%;
    background-image: rgb(206, 127, 54);
    align-items: center;
}

body {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color {
    color: black;
}

.fila {
    align-items: center;      
    justify-content: center;  
    display: inline-block;
    margin: 0;
    padding: 1%;
}