header{
    color: cadetblue;
    background-color: rgb(228, 212, 212);
    font-family: sans-serif;
}

body {
    background-color: #E3D3D3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#textocuerpo {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-decoration: double;
}

.fondo-background-tabla {
    background-color: rgb(232, 168, 91);
    position: relative;
    width: 50%;
    left: 20%;
    border-style: dashed;
}

#parrafos_centrados {
    position: relative;
    left: 5%;
}

#titulos_centrados {
    position: relative;
    left: 40%;
}

#tabla_centrada {
    position: relative;
    left: 10%;
}

#borde {
    border-style: solid;
}

